header {
  max-width: 400px;
  margin: 10px auto 5px;
  width: 80vw;
}
h2 {
  font-size: calc(0.9rem + 2.5vw);
  padding: 5px;
}

section {
  flex-direction: column;
  margin: 10px auto;
  width: 98vw;
}
.aclaracion {
  font-size: calc(0.8rem + 1vw);
  margin: 2vh auto;
  padding: 0px;
}

.form {
  justify-content: center;
  width: 100%;
}

.cuadro-texto {
  height: 22vh;
  margin: 2vh auto 0px;
  width: 90%;
}
.button {
  font-size: 0.7em;
  height: 30px;
  margin: 5px 10px;
  width: 100px;
}
