header {
  margin: 30px auto 15px;
  width: 75vw;
}
h2 {
  font-size: calc(2rem + 2vw);
  padding: 20px 10px;
}

section {
  justify-content: space-evenly;
  margin: 10px auto;
  width: 100vw;
}
.aclaracion {
  font-size: calc(1.5rem + 1.5vw);
  margin: 40px auto;
}

.form {
  justify-content: center;
  width: 50%;
}

.cuadro-texto {
  height: 300px;
  margin: 2vh auto 0px;
  width: 90%;
}
.cuadro-texto::placeholder {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 25px 10px 0px;
  text-align: center;
}
.button {
  font-size: 1.2em;
  height: 50px;
  margin: 5px 10px;
  width: 36%;
}
